/* this is a comment */

* {
    /*-fx-padding: 0;*/
    /*-fx-margin: 0;*/
    -fx-text-decoration: none;
    -fx-font-family: "Inter", sans-serif;
}


* {
    -fx-box-sizing: border-box;
}

img {
    -fx-max-width: 100%;
    -fx-height: auto;
    -fx-vertical-align: middle;
    -fx-font-style: italic;
    -fx-background: no-repeat cover;
    -fx-shape-margin: 12px;
}


/* font */
.header-1 {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-letter-spacing: 2px;
}

.header-2 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
}

.header-3 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
}

.label-text {
    -fx-font-size: 18px;
    -fx-font-weight: semi-bold;
}

.normal-text {
    -fx-font-size: 16px;
}


.input {
    -fx-width: 100%;
    -fx-padding: 8px;
    -fx-border-radius: 4px;
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-border-style: solid;
}

.form-container {
    -fx-padding: 24px;
    -fx-border-radius: 4px;
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* button */
.radio-button,
.checkbox {
    -fx-padding: 8px 8px;

    -fx-border-radius: 4px;
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-font-size: 14px;
    -fx-label-padding: 0.0em 0.0em 0.0em 12px; /* 0 0 0 5 */
}


.button-main {
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button-second {
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 4px;
    -fx-font-weight: regular ;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.button-link{
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-underline: true;
    -fx-padding: 0;

}

.button-link:hover {
    -fx-underline: false;
}

.button-second:hover {
    -fx-background-color: #f5f5f5;
}

.button:hover {
    -fx-opacity: 0.8;
}

.error-text {
    -fx-text-fill: #ff7878;
}

.dropdown-list {
    -fx-min-width: 300px;
    -fx-padding: 8px 0px;
    -fx-border-radius: 4px;
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-font-size: 14px;
}

.table-view {
    -fx-padding: 8px;
    -fx-border-radius: 4px;
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-min-height: 700px;
}

.table-column {
    -fx-alignment: center; /* Center align text */
    -fx-background-color: #fff;
    -fx-padding: 8px;
    -fx-text-fill: #333333; /* Dark gray text color */
    -fx-border-color: lightgrey; /* Border color */
    -fx-border-width: 0 0 1px 0; /* Border width: top right bottom left */
    -fx-border-style: solid; /* Border style */
    -fx-min-width: 100%;
}

.filter-container {
    -fx-padding: 18px;
    -fx-border-color: lightgrey; /* Border color */
    -fx-border-width: 1px; /* Border width: top right bottom left */
    -fx-border-radius: 4px;
    -fx-border-style: solid; /* Border style */
}